.center-spin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  z-index: 9999;
}

.layout-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  width: 100vw;
  height: 100vh;
}

.left-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.avatar-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.avatar-container:hover {
  transform: scale(1.05);
  background-color: rgba(99, 95, 95, 0.15);
}

.end-left-layout {
  margin-top: auto;
}

.more-icon {
  margin-left: auto;
}

.right-layout {
  height: 100vh;
  padding: 15px;
}

.right-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.right-layout-container {
  height: 90%;
  overflow-y: hidden;
}

.right-layout-item {
  padding: 15px;
  border-radius: 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.center-layout {
  height: 100vh;
  padding: 15px;
}
