.profile-header {
  display: flex;
  align-items: center;
  padding: 5px;
}

.profile-container {
  overflow: hidden;
  height: 90%;
}

.profile-container-child {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
}

.profile-image-container {
  position: relative;
  height: 230px;
}

.profile-banner {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-avatar {
  position: absolute;
  top: 90px;
  left: 40px;
  height: 120px !important;
  width: 120px !important;
}

.profile-btn {
  position: absolute;
  top: 170px;
  right: 20px;
}

.config-photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.config-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
