.profile-header {
  display: flex;
  align-items: center;
  padding: 5px;
}

.profile-container {
  position: relative;
  height: 230px;
}

.profile-banner {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-avatar {
  position: absolute;
  top: 90px;
  left: 40px;
  height: 120px !important;
  width: 120px !important;
}

.profile-btn {
  position: absolute;
  top: 170px;
  right: 20px;
}

