.profile-recommendation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.profile-recommendation-name {
  display: flex;
  align-items: center;
}
