.profile-recommendation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.profile-recommendation-name {
  display: flex;
  align-items: center;
}
